extends layout

block content 

    div(class="brand-form-div-container")

        h1 #{title}

        form(method="POST")
            div(class="mb-3")
                label(for="name" class="form-label") Enter Category Name: 
                input(class="form-control form-control-lg" type="text" placeholder="Enter new Category name" aria-label="Enter new category name" id="name" name="name" required value=(undefined===category ? "" : category.name))
            div(class="mb-3")
                label(for="description" class="form-label") Enter Category description: 
                input(class="form-control form-control-lg" type="text" placeholder="Enter new Category description" aria-label="Enter new category description" id="description" name="description" required value!=(undefined===category ? "" : category.description))
            div(class="mb-3 password-input-group")
                    label(for="adminpassword" class="form-label") Enter admin password: 
                    input(class="form-control form-control-lg" type="password" placeholder="Admin password to delete or update data" aria-label="password to delete or update category" id="adminpassword" name="adminpassword" required )
            button(class="btn btn-success" type="submit") Submit

        if errors
            for error in errors
                p(class="error-text")= error.msg