extends layout

block content
    h1= title
    p Do you really want to delete this Item? 
    p Item: !{item.name}
    form(method='POST')
        div.form-group
            div(class="mb-3 password-input-group")
                    label(for="adminpassword" class="form-label") Enter admin password: 
                    input(class="form-control form-control-lg" type="password" placeholder="Admin password to delete or update data" aria-label="password to delete item" id="adminpassword" name="adminpassword" required )
            input#itemid.form-control(type='hidden', name='itemid', value=item._id)
            button.btn.btn-primary(type='submit') Delete Item
    
    if errors 
            div(style='margin-left:20px;margin-top:20px')
            h3 Error
            dl 
                each error in errors 
                    p(class="error-text") #{error}